<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <!-- maxRequestLength is in KB. 2097152 KB = 2 GB. executionTimeout is in seconds (3600 = 1 hour) -->
    <httpRuntime maxRequestLength="2097152" executionTimeout="3600" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- maxAllowedContentLength is in bytes. 2147483648 bytes = 2 GB -->
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
